<h1>
    {{title}}
  </h1>
  
 <!-- <a href="#" class="btn btn-warning" >Please Click</a>-->

  <nav>
      <a routerLink="/ShowEmployeeDetail123"  routerLinkActive="active">Show Employee Details</a>      
  </nav>

 
    <input type="button" class="btn btn-warning" (click)="NavigteEmployeeDetails()" value="Go to Employee Detail" >

    


  <div class="container">
  
    <table  class="table table-bordered"  >
       <tr class="active">
        <th>
        User ID
        </th>
        <th>
        Id
        </th>
        <th>
        Title
        </th>
      </tr>
    <tr class="active" *ngFor="let emp of userArray">
      <td >
        <span>{{emp.title | json}}</span>
      </td>
      <td >
          <span>{{emp.id | json}}</span>
      </td>
      <td >
          <span>{{emp.userId| json}}</span>
      </td>
    </tr>
  </table> 
  <!--ul class="pagination">
      <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="p = $event"></pagination-controls>
      | paginate: {id: 'listing_pagination', itemsPerPage: 10, currentPage: p }
  </ul>-->
  </div>